<p-card header="Cambiar de contraseña">
    <ng-template pTemplate="header">
        <!-- <button
            pButton
            class="p-button-text"
            icon="pi pi-arrow-left"
            label="Volver a mi perfil"
            iconPos="left"
            routerLink="/view/profile/user"
        ></button> -->
        <!-- <h2 class="p-my-2">Cambiar de contraseña</h2> -->
    </ng-template>
    <div class="p-grid">
        <div class="p-col-12"></div>
        <div class="p-col-12">
            <form [formGroup]="form" class="p-fluid" (ngSubmit)="changePassword()" autocomplete="off">
                <div class="p-field">
                    <span class="p-float-label">
                        <input pInputText formControlName="oldPassword" type="password" />
                        <label for="">Contraseña actual</label>
                    </span>
                </div>
                <div class="p-field">
                    <span class="p-float-label">
                        <input pInputText formControlName="newPassword" type="password" />
                        <label for="">Nueva contraseña</label>
                    </span>
                </div>
                <div class="p-field">
                    <span class="p-float-label">
                        <input pInputText formControlName="newPasswordConfirmed" type="password" />
                        <label for="">Confirme su nueva contraseña</label>
                    </span>
                </div>
                <div class="p-d-flex p-jc-around">
                    <button pButton type="button" class="p-button-text p-mr-2" label="Cancelar"
                        routerLink="/view/profile/user"></button>
                    <button pButton type="submit" class="" label="Cambiar contraseña"
                        [disabled]="form.invalid"></button>
                </div>
            </form>
        </div>
    </div>
</p-card>