<div id="newPass-main-container" class="p-d-flex h-100">
    <div class="sidebar-wave-container p-col-12 p-xl-4 background-primary">
        <div class="
                p-d-inline-flex p-flex-column p-jc-center
                h-100
                p-p-4                     
            ">
            <img class="logo" src="assets/images/logo riders_logo-h f-azul.svg" alt="">
            <p class="sidebar-description z-index-up" [translate]="'auth.description'"></p>
        </div>
    </div>
    <div class="p-col-12 p-xl-8">
        <div class="p-d-flex p-flex-column p-jc-center p-col-12 h-100 p-mx-auto">
            <div class="p-mx-auto form-container">

                <h2 [translate]="'auth.new_password'"></h2>

                <form class="p-fluid p-grid" [formGroup]="newPassForm" (ngSubmit)="newPassword()">

                    <div class="p-col-12">
                        <span class="p-float-label">
                            <input id="password" [ngClass]="{
                                    'ng-invalid ng-dirty': newPassForm.controls.password.invalid && (newPassForm.controls.password.dirty || newPassForm.controls.password.touched)
                                }" name="password" type="password" formControlName="password" pInputText required />
                            <label for="password">{{
                                "auth.pass" | translate
                                }}</label>
                        </span>
                    </div>

                    <div class="p-col-12">
                        <span class="p-float-label">
                            <input id="password_confirmation" [ngClass]="{
                                    'ng-invalid ng-dirty': (newPassForm.controls.password_confirmation.invalid && (newPassForm.controls.password_confirmation.dirty || newPassForm.controls.password_confirmation.touched)) || repeatPasswordError
                                    }" name="password_confirmation" type="password"
                                formControlName="password_confirmation" pInputText required />
                            <label for="password_confirmation">{{
                                "auth.confirmPass" | translate
                                }}</label>
                        </span>
                    </div>
                    <div class="p-d-flex p-col-12 p-jc-end">
                        <div class="p-mr-2">
                            <button pButton type="button" (click)="goToLogin()" class="p-button-text"
                                [label]="'auth.cancel' | translate"></button>
                        </div>
                        <div>
                            <button pButton type="submit" [disabled]="newPassForm.invalid" class="p-button-rounded"
                                [label]="'auth.recoverPasswordBtn' | translate"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>