<div id="recoverPass-main-container" class="p-d-flex h-100">
    <div class="sidebar-wave-container p-col-12 p-xl-4 background-primary">
        <div class="
                p-d-inline-flex p-flex-column p-jc-center
                h-100
                p-p-4                     
            ">
            <img class="logo" src="assets/images/logo riders_logo-h f-azul.svg" alt="">
            <p class="sidebar-description z-index-up" [translate]="'auth.description'"></p>
        </div>
    </div>
    <div class="p-col-12 p-xl-8">
        <div class="p-d-flex p-flex-column p-jc-center p-col-12 h-100 p-mx-auto">
            <div class="p-mx-auto form-container">

                <div class="title-container">

                    <h2 class="z-index-up" [translate]="'auth.ForgotPassword'"></h2>
                    <h3 [translate]="'auth.ForgotPasswordSubtitle'" [ngStyle]="{color:'var(--gray-600)'}"></h3>
                </div>

                <form class="p-fluid p-grid" [formGroup]="recoverPassForm" (ngSubmit)="recoverPassword()">
                    <div class="p-col-12">
                        <span class="p-float-label">
                            <input id="email" [ngClass]="{
                                    'ng-invalid ng-dirty': recoverPassForm.controls.email.invalid && (recoverPassForm.controls.email.dirty || recoverPassForm.controls.email.touched)
                                }" name="email" type="email" formControlName="email" pInputText required />
                            <label for="email">{{
                                "auth.email" | translate
                                }}</label>
                        </span>
                    </div>
                    <div class="p-d-flex p-col-12 p-jc-end">
                        <div class="p-mr-2">
                            <button pButton type="button" (click)="goToLogin()" class="p-button-text"
                                [label]="'auth.cancel' | translate"></button>
                        </div>
                        <div>
                            <button pButton type="submit" class="p-button-rounded"
                                [label]="'auth.send' | translate"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>